html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.body {
    background-color: #2c3e50 !important;
}

.main {
    background-color: #34495e;
    width: 100%;
    max-width: 1100px;
    margin: auto auto;
    padding-top: 55px;
    text-align: center;
}

/*************************** Navigation Bar ***************************/

.header {
    position: fixed;
    background-color: inherit;
    width: 100%;
    min-height: 55px;
}

.navigation {
    display: none;
}

.navigation--open {
    display: block;
    padding: 16px;
}

.navigation--link {
    display: block;
    color: #f1c40f;
    text-decoration: none;

}

.menu {
    position: absolute;
    top: 10px;
    right: 16px;
}

/*************************** Main Header ***************************/

.main__header {
    text-align: left;
    display: flex;
    text-align: center;
    align-items: center;
}

.main__header-heading {
    text-decoration: underline;
}

.main__header-description {
    color: #f39c12;
}

.main__header-img {
    width: 100px;
    height: 100px;
    padding: 5px 5px;
}

/*************************** Section ***************************/

.section {
    background-color: #2c3e50;
}

.section__header {
    color: black;
}

.section__header::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f39c12;
    border-radius: 50%;
}

.section__header::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f39c12;
    border-radius: 50%;
}

.section__header-description {
    background-color: #34495e;
    color: #f39c12;
    padding: 3px 4px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

/***************************CLASS SELECTOR***************************/

.bgimg {
    background-image: url('../img/black_hole.jpg');
}

.link {
    color: #f1c40f;
    display: inline-block;
    text-decoration: none;
}

.link:hover {
    color: black;
}

/*************************** Footer ***************************/

.footer {
    background-color: #2c3e50;
    color: black;
    padding: 15px;
    text-align: left;
}

.footer-link {
    display: inline-block;
    color: #f39c12;
    text-decoration: none;
    text-align: left;
    width: 75%;
}

.footer-text {
    display: inline-block;
    text-align: right;
}

/*************************** Saturday ***************************/

.s-header {
    
}

.s-body {
    background: rgb(0, 0, 0);
    background: linear-gradient(115deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(199, 101, 26, 0.9528186274509804) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.s-main {
    background-color: #f8f8f8;
    width: 624px;
    border-radius: 16px;
    margin: 16px;
    padding: 32px;
}

.s-avatar {
    width: 148px;
    height: 148px;
    margin: 0 32px 32px 0;
}

.s-person {
    display: flex;
    align-items: flex-start;
}

.s-person__info {
    margin-bottom: 24px;
}

.s-person__name {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
}

.s-person__position {
    margin: 0;
    font-style: italic;
    font-size: 18px;
    color: #545454;

}

.s-person__description {
    margin: 0;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
}

.s-person__description--with-margin {
    margin-bottom: 22px;
}

.person__link {
    color: #e20613;
    text-decoration: none;
}

.special {
    color: #ed6d05;
    font-weight: normal;
}

/*************************** Grid ***************************/

@media (min-width: 768px) {

    .menu {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }

    .navigation {
        padding: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

@media (min-width: 1024px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
    }

}

/* oznaczenie do zapamietania */
/* [class*='container']:not([class*='container__']) { */
/* color: rgb(25, 131, 11); */
/* } */