.body {
    background-color: rgb(0, 0, 0) !important;
}

.main {
    background-color: rgb(84, 72, 116); 
    color: rgb(255, 255, 255);
}

.heading {
    color: white;
}
.header {
    background-color: rgb(84, 72, 116); 
    color: rgb(255, 255, 255);
}
.paragraph {
    background-color: rgb(140, 121, 192);
}

.section {
    background-color: rgb(84, 72, 116); 
    color: rgb(255, 255, 255);
}

.sectionHeader {
    color: #9d82c9;
}

.footer {
    background-color: rgb(84, 72, 116); 
    color: rgb(255, 255, 255);
}

/* oznaczenie do zapamietania */
/* [class*='container']:not([class*='container__']) { */
    /* color: rgb(25, 131, 11); */
/* } */
