#main {
    background-color: #fefefe !important;
}

.mainHeader {
    color: #1440aa;
}

.sectionHeader {
    color: #1460aa;
}

h3 {
    color: #1461aa;
}


[class*='container']:not([class*='container__']) {
    color: rgb(25, 131, 11);
}

.container__title {
    color: rgb(48, 102, 163);
}